<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'stripe_payments/css/bootstrap/bootstrap.min.css' %}">

    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>

    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    {% block main %}{% endblock %}

</body>

</html>